*
{
    -webkit-touch-callout: none;  /* Disable element selection in app */
    -webkit-user-select: none;    /* Disable text selection in app */ 
}

#gameArea {
  position: absolute;
  left:     50%;
  top:      50%;
}

#bcanvas, #fcanvas, #gcanvas
{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}
			
#loadingMessage
{
	position:absolute;
	top:100px;
	left:100px;
	z-index:100;
	font-size:50px;
}
